@import "/src/default.scss";

#main_paint {
  width: 900px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px rgba(255, 255, 255, 0.1);
}
.top_page {
  height: 30px;
  display: flex;
  justify-content: space-between;
  background: $pointColor1;
  border-radius: 8px 8px 0 0;
  color: #fff;
  p {
    margin-left: 10px;
    display: inline-block;
    line-height: 30px;
  }
  button {
    color: #fff;
    margin-right: 10px;
  }
}
.header {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  padding: 10px 20px;
}
.paint_tools {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 20px;
  padding-right: 20px;
  &:nth-of-type(1) {
    width: 10%;
    margin-left: 0;
  }
  &:nth-of-type(2) {
    width: 10%;
  }
  &:nth-of-type(3) {
    width: 34%;
  }
  .tool_list {
    height: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      padding: 2px 3px;
    }
  }
  .select_wrapper {
    height: 70%;
    display: flex;
    align-items: center;
    #brush_weight {
      width: 100%;
      cursor: pointer;
    }
  }
  .ways {
    display: flex;
    align-items: center;
    height: 70%;
    .color_list {
      display: flex;
      .color_grid_wrapper {
        display: flex;
        flex-flow: row wrap;
        .color_grid {
          width: 16px;
          height: 16px;
          border: 1px solid #444;
          border-radius: 50%;
          margin: 2px;
          cursor: pointer;
        }
      }
    }
    .color_picker {
      width: 100px;
      height: 40px;
      display: flex;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
  .tool_title {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
.btn_wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  .Clear,
  .save,
  .open {
    width: 60px;
    height: 30px;
    background: $pointColor1;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
  }
  .open {
    display: flex;
    justify-content: center;
    align-items: center;
    > #imgFile {
      display: none;
    }
  }
}
