@import "/src/default.scss";

/* Weather.js */
.weather_container {
  width: 50vw;
  min-width: 460px;
  background-color: lighten($bgColor, 7%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.weather_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $pointColor3;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  padding: 7px 18px;
  color: #222;
  button {
    color: #222;
    font-weight: 700;
  }
}
.weather_content {
  padding: 20px;
}

/* Search.js */
.search {
  color: #222;
}

/* CurrentWeather.js */
.curr_weather {
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 20px auto 0;
  padding: 10px 30px 20px;
  margin-bottom: 40px;
  position: relative;
  .curr_top {
    .city {
      font-weight: 700;
      font-size: 26px;
      line-height: 1;
      letter-spacing: 1px;
    }
    .weather_icon {
      width: 140px;
      position: absolute;
      top: 20px;
      right: 30px;
    }
    .temperature {
      font-weight: 700;
      font-size: 100px;
      width: auto;
      letter-spacing: -5px;
    }
  }
  .curr_bottom {
    font-size: 14px;
    .details {
      display: flex;
      flex-flow: column wrap;
      .param_row {
        .param_label {
          text-align: left;
          font-weight: 400;
        }
        .param_value {
          text-align: right;
          font-weight: 700;
        }
        &:nth-of-type(1) {
          display: flex;
          align-items: flex-end;
          font-size: 16px;
          gap: 10px;
        }
        &:nth-of-type(2) {
          margin-top: 10px;
        }
        &:nth-of-type(3) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          > div {
            display: flex;
            align-items: flex-end;
          }
        }
        .resetWeatherInfo {
          cursor: pointer;
        }
      }
    }
  }
}

/* Forecast.js */
.forecast_title {
  font-size: 20px;
  font-weight: 700;
}
.forecast_accordion {
  margin-top: 10px;
  .time_item {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .icon_s {
    width: 40px;
  }
  .times {
    flex: 1 1 0;
    margin-left: 15px;
    cursor: pointer;
  }
  .time_temp {
    font-size: 16px;
    cursor: pointer;
  }
  .time_details_grid {
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 25px;
    row-gap: 0;
    column-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    flex: 1 1 0;
    padding: 5px 15px;
    .time_details_grid_item {
      display: flex;
      height: 30px;
      justify-content: space-between;
      align-items: center;
      label {
        font-size: 14px;
        &:nth-of-type(1) {
          color: #bdbdbd;
        }
      }
    }
  }
}
