body {
  overflow: hidden;
}
#main_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    200% 100% at bottom center,
    #f7f7b6,
    #e96f92,
    #75517d,
    #1b2947
  );
  background: radial-gradient(
    220% 105% at top center,
    #1b2947 10%,
    #75517d 40%,
    #e96f92 65%,
    #f7f7b6
  );
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg)
      rotateY(-360deg);
  }
}
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}
.star {
  width: 2px;
  height: 2px;
  background: #f7f7b6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}

#app_list {
  width: 22.75rem;
  height: 32.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 2rem;
}

.menu_wrapper {
  cursor: pointer;
  .menu {
    width: 6.25rem;
    height: 6.25rem;
    background: url("/img/star1.png") no-repeat;
    background-size: 100% 100%;
  }
  h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.4rem;
  }
  &:nth-child(2) > .menu {
    background-image: url("/img/star2.png");
  }
  &:nth-child(3) > .menu {
    background-image: url("/img/star3.png");
  }
  &:nth-child(4) > .menu {
    background-image: url("/img/star4.png");
  }
  &:nth-child(5) > .menu {
    background-image: url("/img/star5.png");
  }
  &:nth-child(6) > .menu {
    background-image: url("/img/star6.png");
  }
  &:nth-child(7) > .menu {
    background-image: url("/img/star7.png");
  }
  &:nth-child(8) > .menu {
    background-image: url("/img/star8.png");
  }
  &:nth-child(9) > .menu {
    background-image: url("/img/star9.png");
  }
}

.feedback {
  grid-area: 4 / 1 / 5 / 4;
  width: 90%;
  height: 3.5rem;
  margin: 1rem auto 0;
  background: linear-gradient(180deg, #6441a5 0%, #2a0845 100%);
  border: 3px solid #fff;
  border-radius: 1rem;
  button {
    width: 100%;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
  }
}
