@import "./default.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

html,
body {
  width: 100vw;
}

body,
h1,
h2,
div,
ul,
li,
p,
input,
select {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgColor;
  color: white;
  font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
}
button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
}

/* box-shadow
width height
margin
font, font-size
제목 크기 font color 
버튼 크기 및 글씨 색 크기 cursor pointer 통일
border-radius */
